<div class="wrapper">
   
    <div class="row">
        <div class="card col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-white">
            <h3 style="margin-top: 20px;">Login</h3>
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                <input type="text"
                ngModel
                name="userName"
                id="userName"
                placeholder="Enter your username"
                class="form-control mb-3"
                >
    
                <input type="password"
                ngModel
                name="userPassword"
                id="userPassword"
                placeholder="Enter your password"
                class="form-control mb-3"
                >
    
                <input type="submit"
                value="Login"
                class="btn btn-outline-primary form-control rounded-0">
                <h3> {{ack}}</h3>
            </form>

            <hr>
            <div class="row">
                <span style="margin-left: auto; margin-right: auto;">
                    OR<br>
                    Sign Up for a new account
                </span>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary signUpBtn">
                  <a href="signup">SIGN UP</a>
                </button>
            </div>
        </div>
   
</div>
  </div>